<!DOCTYPE html>
<html class="intro-admin__html">
  <head>
    <title><%= yield(:doc_title).presence || intro_translate('admin.title') %></title>
    <%= stylesheet_link_tag    "intro/admin/application", media: "all" %>
    <%= javascript_include_tag "intro/admin/application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head_content) %>
  </head>
  <body class="intro-admin__body <%= yield(:body_class) %>">
    <%= yield %>
  </body>
</html>