<% content_for :body_class, 'intro-admin_tours' %>
<% content_for :head_content, intro_tags %>

<div class="intro-admin__container">
  <div class="intro-admin__box <%= yield(:box_class) %>">
    <div class="intro-admin__box-header">
      <div class="intro-admin__box-title">
        <%= yield(:box_title) %>
      </div>

      <div class="intro-admin__box-actions">
        <%= yield(:box_actions) %>

        <%= link_to t('intro.admin.sign_out'), sign_out_admin_intro_path, method: :delete %>
      </div>
    </div>

    <div class="intro-admin__box-content">
      <%= yield %>
    </div>
  </div>
</div>