<% content_for :doc_title, t('intro.admin.tour_list') %>
<% content_for :box_class, 'intro-admin__box-tours' %>
<% content_for :box_title, t('intro.admin.tour_list') %>
<% content_for :box_actions do %>
  <%= link_to t('intro.admin.add_tour'), new_admin_tour_path %>
<% end%>

<%= render layout: 'intro/admin/tours/container' do %>
  <% if @tours.blank? %>
    <div class='message'>
      <%= t('intro.admin.none_tours') %>
    </div>
  <% else %>
    <table class='intro-admin__tours'>
      <thead>
        <tr>
          <th>ID</th>
          <th><%= t('intro.admin.tour.ident') %></th>
          <th><%= t('intro.admin.tour.simple_route') %></th>
          <th><%= t('intro.admin.tour.created_time') %></th>
          <th><%= t('intro.admin.tour.expired_time') %></th>
          <th><%= t('intro.admin.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @tours.each do |tour| %>
          <tr class="intro-admin__tours-item <%= 'expired' if tour.expired? %>">
            <td>tour.id</td>
            <td title="<%= tour.ident %>">tour.ident</td>
            <td title="<%= tour.simple_route %>">tour.simple_route</td>
            <td>tour.created_at</td>
            <td>tour.expired_at</td>
            <td>
              <%= link_to (tour.posted? ? t('intro.admin.unpublish') : t('intro.admin.publish')), admin_tour_post_path(tour, post: !tour.posted), method: :put %>
              <%= link_to t('intro.admin.edit'), edit_admin_tour_path(tour) %>
              <%= link_to t('intro.admin.delete'), admin_tour_path(tour), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="intro-admin__pagination">
      <%= paginate @tours %>
    </div>
  <% end %>
<% end %>